a {
    color:rgb(99, 101, 140);
    text-decoration: none;
    margin-right: 20px;
}

img{
    margin-right: 20px;
}

a:hover{
    color:rgb(82, 84, 115);
    text-decoration: none;
}

.profil-title{
    background-color:lightblue;
}

body{
    background-image: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fimages8.alphacoders.com%2F467%2F467431.jpg&f=1");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position-y: center ; 
    background-attachment: fixed;
}


.donnes{
    font-size: 10em;
    display: inline-block;
    width: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: lightblue;
    color: yellow;
}

.test {
    height: 329px;
    width: 500px;
    overflow-y: auto;
}

#relation_type{
    float:right;

}

.bg-img{
    background-image: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fimages8.alphacoders.com%2F467%2F467431.jpg&f=1");
    background-repeat: no-repeat;
} 



